.service {
    height: 500px;
    border: 1px solid gray;
    border-radius: 20px;
}
.cart img{
	width: 100%;
	height: 300px;
	border-radius: 20px;
}

/* responsive for small device  */
@media only screen and (max-width: 768px) {
	.service {
		height: 470px;
	}
	.details-btn {
		margin-bottom: 15px;
	}
  }