/* google font */
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Irish Grover', cursive;
font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
