@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
.banner{
    background-image: url('../../images/5.jpg');
    background-color: #cccccc; 
    height: 450px; 
    background-position: left 20% top 30%; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.banner-text {
	font-family: 'Irish Grover', cursive;
	font-size: xx-large;
	font-weight: 800;
}
.myButton {
	box-shadow: 3px 2px 20px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:27px;
	border:3px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:24px;
	padding:11px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}